HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### .env ###
.env

### .gemini.md ###
gemini.md

# 1. 글로벌(전역) gitignore 파일을 생성하고 .DS_Store를 추가합니다.
echo .DS_Store >> ~/.gitignore_global

# 2. Git에게 방금 만든 글로벌 파일을 항상 참조하라고 명령합니다.
git config --global core.excludesfile ~/.gitignore_globalㄴ