<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<aside class="sidebar" th:fragment="admin_sidebar(currentMenu, lang)">
    <ul class="nav-menu">
        <a th:href="@{/admin/dashboard(lang=${lang})}"
           class="nav-item"
           th:classappend="${currentMenu == 'dashboard'} ? 'active' : ''">
            <span class="nav-icon">🏠</span>
            <span th:text="${lang == 'ja' ? 'ダッシュボード' : 'DashBoard'}">DashBoard</span>
        </a>

        <a th:href="@{/admin/user(lang=${lang})}"
           class="nav-item"
            th:classappend="${currentMenu == 'users'} ? 'active' : ''">
            <span class="nav-icon">👥</span>
            <span th:text="${lang == 'ja' ? '会員管理' : 'Users'}">Users</span>
        </a>

        <a th:href="@{/admin/post(lang=${lang})}"
           class="nav-item"
           th:classappend="${currentMenu == 'post'} ? 'active' : ''">
            <span class="nav-icon">📄</span>
            <span th:text="${lang == 'ja' ? '求人管理' : 'Post'}">Post</span>
        </a>

        <li class="nav-item"
            th:classappend="${currentMenu == 'dataops'} ? 'active' : ''">
            <span class="nav-icon">🕸️</span> DataOps
        </li>
    </ul>

    <div class="lang-switch-container">
        <button class="btn-lang"
                th:classappend="${lang == 'ko' || lang == null ? 'active' : ''}"
                onclick="changeLanguage('ko')">KO</button>
        <button class="btn-lang"
                th:classappend="${lang == 'ja' ? 'active' : ''}"
                onclick="changeLanguage('ja')">JP</button>
    </div>
</aside>
</html>