<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>KUMO - 지도 검색</title>
	<link rel="stylesheet" th:href="@{/css/mainView/main.css}">
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script th:src="@{/js/mainView/main.js}"></script>
</head>
<body>
<header th:replace="~{header.html}"></header>

<div class="map-container">
	🗺️ 여기에 Google Maps가 들어갑니다
</div>

<div class="bottom-sheet" id="bottomSheet">
	
	<div class="sheet-handle">
		<div class="handle-bar"></div>
	</div>
	
	<div class="sheet-content">
		<h2 style="padding: 0 10px; font-size: 18px;">구직 정보 리스트 📋</h2>
		
		<div class="table-wrapper">
			<table class="job-table">
				<thead>
				<tr id="tableHeader">
					<th>제목</th>
					<th>상호명</th>
					<th>근무지</th>
					<th>급여</th>
					<th>연락처</th>
					<th>담당자</th>
					<th>관리</th>
				</tr>
				</thead>
				<tbody id="listBody">
				<tr><td colspan="7" class="msg-box">지도를 움직이면 공고를 불러옵니다...</td></tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapsKey} + '&callback=initMap&loading=async'}"
        async defer></script>
</body>
</html>